name: Springboot Jar

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven
      - name: Build Jar(Skip Tests)
        run: mvn clean package -DskipTests=true -B
        working-directory: SpringBootCourseTrainer

      - name: Upload Jar to Artifact
        uses: actions/upload-artifact@v4
        with:
          name: springboot-app-jar
          #path: target/*.jar
          path: SpringBootCourseTrainer/target/*.jar